{% extends "base.html" %} {% block head %}
<title>homepage</title>
{% endblock %} {% block body %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h1 class="display-2">Titanic Survival Predictor</h1>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-md-12">
      <p class="lead">
        This is a simple web application that predicts the survival of
        passengers on the Titanic.
      </p>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <form action="{{ url_for('predict')}}" method="post">
        
<div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Passenger Class</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="1">First Class</option>
            <option value="2">Second Class</option>
            <option value="3">Third Class</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Gender</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="0">Male</option>
            <option value="1">Female</option>
          </select>
        </div>
<div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >What is your title? </label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="1">Mr</option>
            <option value="2">Miss</option>
            <option value="3">Mrs</option>
            <option value="4">Master</option>
            <option value="5">Other</option>

          </select>
        </div>
        <button class="btn btn-lg btn-primary" type="text">Predict</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
